--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: modulos; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.modulos (id, nombre) VALUES (10, 'CALENDARIO');
INSERT INTO public.modulos (id, nombre) VALUES (11, 'RECURSOS HUMANOS');
INSERT INTO public.modulos (id, nombre) VALUES (12, 'EMPLEADOS');


--
-- Name: modulos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.modulos_id_seq', 16, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: permisos; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.permisos (id, rol_id, modulo_id, tiene_acceso, created_at, updated_at, puede_crear, puede_actualizar, puede_eliminar) VALUES (60, 69, 15, true, '2025-08-10 01:09:47.521134', '2025-08-10 01:09:47.521134', false, false, false);
INSERT INTO public.permisos (id, rol_id, modulo_id, tiene_acceso, created_at, updated_at, puede_crear, puede_actualizar, puede_eliminar) VALUES (53, 69, 10, true, '2025-06-29 17:02:33.479911', '2025-08-10 01:09:47.532831', false, false, false);
INSERT INTO public.permisos (id, rol_id, modulo_id, tiene_acceso, created_at, updated_at, puede_crear, puede_actualizar, puede_eliminar) VALUES (61, 69, 16, false, '2025-08-10 01:09:47.540092', '2025-08-10 01:09:47.540092', false, false, false);


--
-- Name: permisos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permisos_id_seq', 68, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: municipios; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.municipios (cod_municipio, cod_depto, nom_municipio, codigo) VALUES (9, 2, 'TRUJILLO', '0201');
INSERT INTO public.municipios (cod_municipio, cod_depto, nom_municipio, codigo) VALUES (10, 2, 'BALFATE', '0202');
INSERT INTO public.municipios (cod_municipio, cod_depto, nom_municipio, codigo) VALUES (11, 2, 'IRIONA', '0203');


--
-- Name: municipios_cod_municipio_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.municipios_cod_municipio_seq', 324, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: regionales; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.regionales (cod_regional, cod_municipio, direccion, nom_regional, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (1, 110, 'Centro C├¡vico Gubernamental, Torre 1, Piso 20, Boulevard Juan Pablo II, Esquina Rep├║blica de Corea, Tegucigalpa, M.D.C., Honduras, C.A.', 'Oficina Principal', '2025-05-30 14:11:26.187578', 'ADMIN', NULL, NULL);
INSERT INTO public.regionales (cod_regional, cod_municipio, direccion, nom_regional, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (2, 63, 'Colonia Trejo, 4ta etapa, 21 calle, 24 avenida. San Pedro Sula, Cortes.', 'Regional Norte', '2025-05-31 10:17:22.805816', 'ADMIN', NULL, NULL);


--
-- Name: regionales_cod_regional_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.regionales_cod_regional_seq', 1, false);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: departamentos; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.departamentos (cod_depto, nom_depto, zona) VALUES (1, 'ATL├üNTIDA', NULL);
INSERT INTO public.departamentos (cod_depto, nom_depto, zona) VALUES (2, 'COL├ôN', NULL);
INSERT INTO public.departamentos (cod_depto, nom_depto, zona) VALUES (3, 'COMAYAGUA', NULL);


--
-- Name: departamentos_cod_depto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departamentos_cod_depto_seq', 1, false);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: oficinas; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.oficinas (cod_oficina, cod_municipio, direccion, nom_oficina, a_cargo, num_telefono, fec_registro, usr_registro, fec_modificacion, usr_modificacion, direccion_corta, asignable_empleados) VALUES (1, 110, 'Centro C├¡vico Gubernamental, Torre 1, Piso 20, Boulevard Juan Pablo II, Esquina Rep├║blica de Corea, Tegucigalpa, M.D.C., Honduras, C...', 'Oficina Principal', 'Silvia Marcela Amaya Escoto', '2242-8645', '2025-05-26 09:49:03', 'ADMIN', '2025-05-26 09:49:03', 'ADMIN', 'Tegucigalpa, M.D.C.', true);
INSERT INTO public.oficinas (cod_oficina, cod_municipio, direccion, nom_oficina, a_cargo, num_telefono, fec_registro, usr_registro, fec_modificacion, usr_modificacion, direccion_corta, asignable_empleados) VALUES (2, 63, 'Col. Trejo 12 y 13 calle, 23 avenida, S.O. San Pedro Sula, Cortes.', 'Regional Norte', 'Susana Patricia Rodriguez', '2556-5454', '2025-05-31 10:12:20.027088', 'ADMIN', NULL, NULL, 'San Pedro Sula, Cortes', true);
INSERT INTO public.oficinas (cod_oficina, cod_municipio, direccion, nom_oficina, a_cargo, num_telefono, fec_registro, usr_registro, fec_modificacion, usr_modificacion, direccion_corta, asignable_empleados) VALUES (4, 110, 'El Sauce, Tegucigalpa, M.D.C., Honduras.', 'El Sauce', NULL, NULL, '2025-05-31 10:12:20.027088', 'ADMIN', NULL, NULL, 'El Sauce', false);


--
-- Name: oficinas_cod_oficina_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.oficinas_cod_oficina_seq', 15, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: puestos; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.puestos (cod_puesto, nom_puesto, fec_registro, usr_registro, cod_fuente_financiamiento, funciones_puesto, sueldo_base) VALUES (1, 'DIRECTORA', '2025-05-26 08:01:05.698475', 'ADMIN', 1, 'Dirigir y supervisar todas las operaciones de la instituci├│n seg├║n las leyes de Honduras', 30000.00);
INSERT INTO public.puestos (cod_puesto, nom_puesto, fec_registro, usr_registro, cod_fuente_financiamiento, funciones_puesto, sueldo_base) VALUES (2, 'ASISTENTE EJECUTIVO DE DIRECCI├ôN', '2025-05-26 08:01:05.698475', 'ADMIN', 1, 'Apoyo administrativo a la direcci├│n, coordinaci├│n de agendas y seguimiento de proyectos', 16000.00);
INSERT INTO public.puestos (cod_puesto, nom_puesto, fec_registro, usr_registro, cod_fuente_financiamiento, funciones_puesto, sueldo_base) VALUES (10, 'ASISTENTE DE AREA', '2025-07-17 00:00:00', 'DANIEL OYUELA ESTRADA', 1, 'Atender llamadas, manejar archivos y coordinar reuniones.', 10500);


--
-- Name: puestos_cod_puesto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.puestos_cod_puesto_seq', 17, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: niveles_educativos; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.niveles_educativos (cod_nivel_educativo, nom_nivel, descripcion, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (1, 'Primaria', 'Educaci├│n b├ísica primaria (1┬░ a 6┬░ grado)', '2025-05-26 00:00:00', 'ADMIN', '2025-05-26 00:00:00', 'ADMIN');
INSERT INTO public.niveles_educativos (cod_nivel_educativo, nom_nivel, descripcion, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (2, 'Secundaria', 'Educaci├│n secundaria o bachillerato (7┬░ a 12┬░ grado)', '2025-05-26 00:00:00', 'ADMIN', '2025-05-26 00:00:00', 'ADMIN');
INSERT INTO public.niveles_educativos (cod_nivel_educativo, nom_nivel, descripcion, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (3, 'CARRERA UNIVERSITARIA', 'CARRERA', '2025-07-17 00:00:00', 'admin', '2025-07-17 18:22:54.393', 'admin');


--
-- Name: niveles_educativos_cod_nivel_educativo_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.niveles_educativos_cod_nivel_educativo_seq', 9, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: tipos_empleados; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.tipos_empleados (cod_tipo_empleado, nom_tipo, descripcion, fec_registro, usr_registro) VALUES (1, 'Permanente', 'Empleados con contrato permanente', '2025-05-26 00:00:00', 'admin');
INSERT INTO public.tipos_empleados (cod_tipo_empleado, nom_tipo, descripcion, fec_registro, usr_registro) VALUES (2, 'Contrato', 'Empleados contratados por un periodo determinado', '2025-05-26 00:00:00', 'admin');
INSERT INTO public.tipos_empleados (cod_tipo_empleado, nom_tipo, descripcion, fec_registro, usr_registro) VALUES (4, 'Por Servicios Profesionales', 'Empleados contratados para realizar servicios espec├¡ficos', '2025-05-26 00:00:00', 'admin');


--
-- Name: tipos_empleados_cod_tipo_empleado_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipos_empleados_cod_tipo_empleado_seq', 14, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: tipos_modalidades; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.tipos_modalidades (cod_tipo_modalidad, nom_tipo, fec_registro, usr_registro) VALUES (1, 'Presencial', '2025-05-26 00:00:00', 'admin');
INSERT INTO public.tipos_modalidades (cod_tipo_modalidad, nom_tipo, fec_registro, usr_registro) VALUES (2, 'Remote', '2025-05-26 00:00:00', 'admin');
INSERT INTO public.tipos_modalidades (cod_tipo_modalidad, nom_tipo, fec_registro, usr_registro) VALUES (3, 'H├¡brido', '2025-05-26 00:00:00', 'admin');


--
-- Name: tipos_modalidades_cod_tipo_modalidad_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipos_modalidades_cod_tipo_modalidad_seq', 1, false);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: tipo_terminacion_contrato; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.tipo_terminacion_contrato (cod_terminacion_contrato, nombre_tipo_term_contrato, descripcion, cod_contrato) VALUES (1, 'Dimisi├│n', 'El empleado ha renunciado voluntariamente.', 1);
INSERT INTO public.tipo_terminacion_contrato (cod_terminacion_contrato, nombre_tipo_term_contrato, descripcion, cod_contrato) VALUES (2, 'Despido', 'El empleado ha sido despedido por la empresa.', 1);
INSERT INTO public.tipo_terminacion_contrato (cod_terminacion_contrato, nombre_tipo_term_contrato, descripcion, cod_contrato) VALUES (3, 'Jubilaci├│n', 'El empleado se ha jubilado.', 1);


--
-- Name: tipo_terminacion_contrato_cod_terminacion_contrato_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipo_terminacion_contrato_cod_terminacion_contrato_seq', 1, false);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: secciones_area; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.secciones_area (cod_seccion, cod_jefe, nom_seccion, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (1, NULL, 'DIRECCI├ôN', '2025-05-31 10:08:50.092933', 'ADMIN', NULL, NULL);
INSERT INTO public.secciones_area (cod_seccion, cod_jefe, nom_seccion, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (2, NULL, 'ADMINISTRACI├ôN FINANCIERA', '2025-05-31 10:08:50.092933', 'ADMIN', NULL, NULL);
INSERT INTO public.secciones_area (cod_seccion, cod_jefe, nom_seccion, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (3, NULL, 'SECRETAR├ìA GENERAL', '2025-05-31 10:08:50.092933', 'ADMIN', NULL, NULL);


--
-- Name: secciones_area_cod_seccion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.secciones_area_cod_seccion_seq', 1, false);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: fuentes_financiamiento; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.fuentes_financiamiento (cod_fuente_financiamiento, nom_fuente, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (1, 'FONDOS NACIONALES', '2025-05-26 11:28:00.063334', 'ADMIN', '2025-05-26 11:28:00.063334', NULL);
INSERT INTO public.fuentes_financiamiento (cod_fuente_financiamiento, nom_fuente, fec_registro, usr_registro, fec_modificacion, usr_modificacion) VALUES (2, 'INL', '2025-05-26 11:28:00.063334', 'ADMIN', '2025-05-26 11:28:00.063334', NULL);


--
-- Name: fuentes_financiamiento_cod_fuente_financiamiento_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fuentes_financiamiento_cod_fuente_financiamiento_seq', 1, false);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: datos_empresa; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: datos_empresa_cod_empresa_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.datos_empresa_cod_empresa_seq', 1, false);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.users (id, name, email, email_verified_at, password, remember_token, created_at, updated_at, estado, cod_persona, intentos_fallidos, ultimo_fallo) VALUES (39, 'MAGDIEL SARAI ORELLANA VALLADARES', 'Magdielorellana0@gmail.com', NULL, '$2y$10$4E7mZalt8/BiOX7Jma7xjuxEE56jtmLfbaB2XOS9L7VgNjRzmN1Ym', NULL, '2025-06-20 23:16:48', '2025-06-21 00:14:35', 'ACTIVO', NULL, 0, NULL);
INSERT INTO public.users (id, name, email, email_verified_at, password, remember_token, created_at, updated_at, estado, cod_persona, intentos_fallidos, ultimo_fallo) VALUES (40, 'MARIA ELIZABETH AVILA TURCIOS', 'elizabethavila891@gmail.com', NULL, '$2y$10$0av0pP3.yLk19ZqM2Y4afeihziooMziwmq5kLlyGoAB665cAY1RPu', NULL, '2025-06-20 23:17:34', '2025-06-21 00:14:42', 'ACTIVO', NULL, 0, NULL);
INSERT INTO public.users (id, name, email, email_verified_at, password, remember_token, created_at, updated_at, estado, cod_persona, intentos_fallidos, ultimo_fallo) VALUES (41, 'BRANDY JULEISY TORRES MARTINEZ', 'juleisy2003tm@gmail.com', NULL, '$2y$10$vqUguw9di4WU5nIJi.5QauJbb1T2uE9hmAk0qw2mp5nqtInf7pVBC', NULL, '2025-06-20 23:18:14', '2025-10-06 06:41:14', 'ACTIVO', NULL, 0, NULL);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 61, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.roles (id, nombre, descripcion, created_at, updated_at, estado) VALUES (57, 'ADMINISTRADOR', 'CONTROL TOTAL', '2025-06-17 17:30:08', '2025-06-20 19:34:05', 'ACTIVO');
INSERT INTO public.roles (id, nombre, descripcion, created_at, updated_at, estado) VALUES (72, 'OBSERVADOR', 'TEMPORAL', '2025-06-25 08:00:57', '2025-06-25 08:00:57', 'ACTIVO');
INSERT INTO public.roles (id, nombre, descripcion, created_at, updated_at, estado) VALUES (69, 'EMPLEADO', 'TEMPORAL', '2025-06-21 03:01:56', '2025-07-27 00:16:14', 'ACTIVO');


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 81, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: role_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.role_user (id, user_id, role_id, created_at) VALUES (22, 39, 57, '2025-06-21 00:14:35');
INSERT INTO public.role_user (id, user_id, role_id, created_at) VALUES (23, 40, 57, '2025-06-21 00:14:42');
INSERT INTO public.role_user (id, user_id, role_id, created_at) VALUES (27, 45, 57, '2025-07-24 00:47:50');


--
-- Name: role_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_user_id_seq', 33, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: personas; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.personas (cod_persona, genero, estado_civil, nombre_completo, fec_nacimiento, lugar_nacimiento, nacionalidad, dni, foto_persona, fec_registro, fec_modificacion, usr_modificacion, usr_registro, rtn) VALUES (1, 'Femenino', 'Soltero', 'SILVIA MARCELA AMAYA ESCOTO', '1984-01-06', 'Se ignora', 'Hondure├▒o (a)', '0801-1984-20353', NULL, '2025-05-26 10:00:52', '2025-05-26 10:00:52', 'ADMIN', NULL, '08011992054321');
INSERT INTO public.personas (cod_persona, genero, estado_civil, nombre_completo, fec_nacimiento, lugar_nacimiento, nacionalidad, dni, foto_persona, fec_registro, fec_modificacion, usr_modificacion, usr_registro, rtn) VALUES (112, 'Masculino', 'Soltero', 'DANIEL EDUARDO OYUELA ESTRADA', '2002-02-17', 'VALLE DE ANGELES', 'HONDURE├æO A', '0801-2002-08924', NULL, '2025-07-20 14:40:52.349824', '2025-08-11 14:32:37.51626', NULL, NULL, '08011985012345');
INSERT INTO public.personas (cod_persona, genero, estado_civil, nombre_completo, fec_nacimiento, lugar_nacimiento, nacionalidad, dni, foto_persona, fec_registro, fec_modificacion, usr_modificacion, usr_registro, rtn) VALUES (119, 'Masculino', 'Soltero', 'EDUARDO DANIEL OYUELA ESTRADA', '2002-02-17', 'VALLE DE ANGELES', 'HONDURE├æO A', '0801-2000-08102', NULL, '2025-08-14 10:12:45.899378', NULL, NULL, NULL, NULL);


--
-- Name: personas_cod_persona_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.personas_cod_persona_seq', 119, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: telefonos; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.telefonos (cod_telefono, cod_persona, numero, fec_registro, usr_registro, telefono_emergencia, nombre_contacto_emergencia, fec_modificacion, usr_modificacion) OVERRIDING SYSTEM VALUE VALUES (1, 1, '9539-8069', '2025-05-30 19:13:31.634121', 'ADMIN', NULL, NULL, NULL, NULL);
INSERT INTO public.telefonos (cod_telefono, cod_persona, numero, fec_registro, usr_registro, telefono_emergencia, nombre_contacto_emergencia, fec_modificacion, usr_modificacion) OVERRIDING SYSTEM VALUE VALUES (85, 112, '+504 9475-5664', '2025-07-20 14:40:52.349824', NULL, '+504 8989-2020', 'LESTER ARMANDO OYUELA ESTRADA', '2025-08-11 14:32:37.51626', NULL);
INSERT INTO public.telefonos (cod_telefono, cod_persona, numero, fec_registro, usr_registro, telefono_emergencia, nombre_contacto_emergencia, fec_modificacion, usr_modificacion) OVERRIDING SYSTEM VALUE VALUES (92, 119, '+504 9475-5664', '2025-08-14 10:12:45.899378', NULL, '+504 8989-2020', 'LESTER ARMANDO OYUELA ESTRADA', NULL, NULL);


--
-- Name: telefonos_cod_telefono_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telefonos_cod_telefono_seq', 1, true);


--
-- Name: telefonos_cod_telefono_seq1; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telefonos_cod_telefono_seq1', 92, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: direcciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.direcciones (cod_direccion, cod_persona, direccion, fec_registro, usr_registro, cod_municipio, fec_modificacion, usr_modificacion) OVERRIDING SYSTEM VALUE VALUES (1, 1, 'TGU', '2025-05-30 22:51:08.987256', 'ADMIN', NULL, NULL, NULL);
INSERT INTO public.direcciones (cod_direccion, cod_persona, direccion, fec_registro, usr_registro, cod_municipio, fec_modificacion, usr_modificacion) OVERRIDING SYSTEM VALUE VALUES (92, 112, 'AMARATECA', '2025-07-20 14:40:52.349824', NULL, 310, '2025-08-11 14:32:37.51626', NULL);
INSERT INTO public.direcciones (cod_direccion, cod_persona, direccion, fec_registro, usr_registro, cod_municipio, fec_modificacion, usr_modificacion) OVERRIDING SYSTEM VALUE VALUES (99, 119, 'CENTRO C├ìVICO GUBERNAMENTAL, TORRE 1, PISO 19 Y 20, BOULEVARD JUAN PABLO II, ESQUINA REP├ÜBLICA DE COREA, TEGUCIGABA, M.D.C., HONDURAS, C.A.', '2025-08-14 10:12:45.899378', NULL, 167, NULL, NULL);


--
-- Name: direcciones_cod_direccion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.direcciones_cod_direccion_seq', 1, true);


--
-- Name: direcciones_cod_direccion_seq1; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.direcciones_cod_direccion_seq1', 99, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: empleados; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.empleados (cod_empleado, cod_persona, cod_tipo_modalidad, cod_puesto, cod_oficina, cod_nivel_educativo, cod_horario, es_jefe, fecha_contratacion, fecha_notificacion, cod_tipo_terminacion, email_trabajo, fec_registro, usr_registro, fec_modificacion, usr_modificacion, cod_tipo_empleado, id_rol) VALUES (1, 1, 1, 1, 1, 1, 1, false, '2025-05-30', NULL, NULL, 'j@d.hn', '2025-05-30 00:00:00', 'ADMIN', NULL, NULL, NULL, NULL);
INSERT INTO public.empleados (cod_empleado, cod_persona, cod_tipo_modalidad, cod_puesto, cod_oficina, cod_nivel_educativo, cod_horario, es_jefe, fecha_contratacion, fecha_notificacion, cod_tipo_terminacion, email_trabajo, fec_registro, usr_registro, fec_modificacion, usr_modificacion, cod_tipo_empleado, id_rol) VALUES (84, 112, 3, 3, 4, 3, 1, NULL, '2002-02-17', NULL, NULL, 'danieloyuela51@gmail.com', '2025-07-20 14:40:52.349824', NULL, '2025-08-11 14:32:37.51626', NULL, 1, NULL);
INSERT INTO public.empleados (cod_empleado, cod_persona, cod_tipo_modalidad, cod_puesto, cod_oficina, cod_nivel_educativo, cod_horario, es_jefe, fecha_contratacion, fecha_notificacion, cod_tipo_terminacion, email_trabajo, fec_registro, usr_registro, fec_modificacion, usr_modificacion, cod_tipo_empleado, id_rol) VALUES (91, 119, 3, 3, 10, 3, 1, NULL, '2002-02-16', NULL, NULL, 'danieloyuela51@gmail.com', '2025-08-14 10:12:45.899378', NULL, NULL, NULL, 1, NULL);


--
-- Name: empleados_cod_empleado_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.empleados_cod_empleado_seq', 91, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: empleados_contratos_histor; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.empleados_contratos_histor (cod_contrato, cod_empleado, cod_tipo_empleado, cod_puesto, fecha_inicio_contrato, fecha_final_contrato, salario, contrato_activo, observaciones, usr_registro, fec_registro, usr_modificacion, fec_modificacion, cod_terminacion_contrato) VALUES (90, 84, 1, 3, '2002-12-12', '2020-12-12', 25000.00, true, NULL, 'sistema', '2025-07-20 14:40:52.349824', NULL, '2025-08-11 14:32:37.51626', NULL);
INSERT INTO public.empleados_contratos_histor (cod_contrato, cod_empleado, cod_tipo_empleado, cod_puesto, fecha_inicio_contrato, fecha_final_contrato, salario, contrato_activo, observaciones, usr_registro, fec_registro, usr_modificacion, fec_modificacion, cod_terminacion_contrato) VALUES (97, 91, 1, 3, '2002-02-12', '2002-02-12', 200000.00, true, NULL, 'sistema', '2025-08-14 10:12:45.899378', NULL, NULL, NULL);


--
-- Name: empleados_contratos_histor_cod_contrato_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.empleados_contratos_histor_cod_contrato_seq', 97, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: planillas; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.planillas (id, cod_persona, dd, dt, salario_bruto, ihss, isr, injupemp, impuesto_vecinal, dias_descargados, injupemp_reingresos, injupemp_prestamos, prestamo_banco_atlantida, pagos_deducibles, colegio_admon_empresas, cuota_coop_elga, total_deducciones, total_a_pagar, creado_en, isr_rango_id, periodo) VALUES (38, 1, 3, 27, 0.00, 0.00, 0.00, 0.00, 0.00, 3, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, '2025-08-14 10:29:19.878855', NULL, NULL);


--
-- Name: planillas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.planillas_id_seq', 38, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: i_s_r_planillas; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.i_s_r_planillas (id, sueldo_inicio, sueldo_fin, porcentaje, tipo, created_at, updated_at) VALUES (1, 0.01, 21457.76, 0.00, 'ISR', '2025-08-11 11:49:00', '2025-08-11 11:49:00');
INSERT INTO public.i_s_r_planillas (id, sueldo_inicio, sueldo_fin, porcentaje, tipo, created_at, updated_at) VALUES (2, 21457.77, 30969.88, 15.00, 'ISR', '2025-08-11 11:49:00', '2025-08-11 11:49:00');
INSERT INTO public.i_s_r_planillas (id, sueldo_inicio, sueldo_fin, porcentaje, tipo, created_at, updated_at) VALUES (3, 30969.89, 67604.36, 20.00, 'ISR', '2025-08-11 11:49:00', '2025-08-11 11:49:00');


--
-- Name: i_s_r_planillas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.i_s_r_planillas_id_seq', 9, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: control_asistencia; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.control_asistencia (id, cod_empleado, fecha, hora_entrada, hora_salida, tipo_registro, observacion, creado_en) VALUES (1, 1, '2025-05-30', '08:30:00', '17:00:00', 'Entrada', 'Asistencia normal', '2025-05-30 21:12:39.72089');
INSERT INTO public.control_asistencia (id, cod_empleado, fecha, hora_entrada, hora_salida, tipo_registro, observacion, creado_en) VALUES (8, 1, '2025-07-24', '17:07:24', '17:08:04', 'Salida', 'Horas incompletas', '2025-07-24 17:08:04.40876');
INSERT INTO public.control_asistencia (id, cod_empleado, fecha, hora_entrada, hora_salida, tipo_registro, observacion, creado_en) VALUES (18, 84, '2025-07-25', '13:53:50.824026', '13:54:36.336072', 'Salida', 'Horas incompletas', '2025-07-25 13:54:36.336072');


--
-- Name: control_asistencia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.control_asistencia_id_seq', 143, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: eventos; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.eventos (id, titulo, fecha_inicio, fecha_fin, todo_el_dia, descripcion, lugar, color_fondo, color_texto, tipo, enlace, recurrente, cod_empleado) VALUES (4, 'Cita m├®dica', '2025-06-11 10:00:00', '2025-06-11 11:00:00', false, 'Chequeo general', 'Cl├¡nica Central', '#00a65a', '#ffffff', 'cita┬ám├®dica', NULL, false, 1);
INSERT INTO public.eventos (id, titulo, fecha_inicio, fecha_fin, todo_el_dia, descripcion, lugar, color_fondo, color_texto, tipo, enlace, recurrente, cod_empleado) VALUES (43, 'Reuni├│n de seguimiento', '2025-08-14 08:00:00', '2025-08-14 09:00:00', true, '', '', '#28a745', '#ffffff', '', '', false, 1);
INSERT INTO public.eventos (id, titulo, fecha_inicio, fecha_fin, todo_el_dia, descripcion, lugar, color_fondo, color_texto, tipo, enlace, recurrente, cod_empleado) VALUES (44, 'Reuni├│n de seguimiento', '2025-08-07 08:00:00', '2025-08-07 09:00:00', false, '', '', '#dc3545', '#ffffff', '', '', false, 1);


--
-- Name: eventos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.eventos_id_seq', 59, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: bitacora; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.bitacora (id, fecha, usuario_id, usuario_nombre, tipo_evento, tabla, accion, id_registro, descripcion, ip_origen, navegador, extra) VALUES (1, '2025-10-06 11:55:28.279233', 45, 'DANIEL EDUARDO OYUELA ESTRADA', 'LOGIN', 'users', 'EVENT', '45', 'Usuario inici├│ sesi├│n', '127.0.0.1', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36', '{"email": "doyuela@didadpol.gob.hn"}');


--
-- Name: bitacora_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bitacora_id_seq', 99, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: backup; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.backup (id, nombre_archivo, ruta_archivo, fecha, usuario_id, tipo_backup, tamano, estado) VALUES (28, 'backup_solo_bd_20251006_115939.zip', 'C:\backups\miapp\backup_solo_bd_20251006_115939.zip', '2025-10-06 11:59:40.984519-06', 45, 'solo_bd', 32213, 'listo');
INSERT INTO public.backup (id, nombre_archivo, ruta_archivo, fecha, usuario_id, tipo_backup, tamano, estado) VALUES (29, 'backup_solo_bd_20251006_130459.zip', 'C:\backups\miapp\backup_solo_bd_20251006_130459.zip', '2025-10-06 13:05:00.06074-06', 38, 'solo_bd', 32624, 'listo');
INSERT INTO public.backup (id, nombre_archivo, ruta_archivo, fecha, usuario_id, tipo_backup, tamano, estado) VALUES (30, 'backup_solo_bd_20251006_210411.zip', 'C:\backups\miapp\backup_solo_bd_20251006_210411.zip', '2025-10-06 21:04:11.602431-06', 45, 'solo_bd', 34973, 'listo');


--
-- Name: backup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.backup_id_seq', 30, true);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: comprobante_pago; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: comprobante_pago_cod_tipo_comprobante_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comprobante_pago_cod_tipo_comprobante_seq', 1, false);


--
-- PostgreSQL database dump complete
--

